<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tracker.css">
    <title>Document</title>
</head>
<body>
     <style>
        .section {
           background-color: white);
        }

        body {
             background-color: rgb(114, 110, 95));
        }
    </style>

    <div class="daily">
        <h1>Daily Expenses Application</h1>
       
    </div>

    <form action="/page3" method="POST">
        <div class="section">
   
   <table class="table" border="1" cellpadding="15" cellspacing="0" width="100%" height="60%">
                <tr>
                    <th>ID</th>
                    <th>Categoriez ID</th>
                    <th>AMOUNT</th>
                    <th>EXPENSE DATE</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                     <td></td>
                      <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                     <td></td>
                      <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                     <td></td>
                      <td></td>
                </tr>
            </table>
      
         <div class="button">

            
           
        </div>

    </form> 
</body>
</html>

</body>