<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tracker.css">
    <title>Document</title>
</head>
<body>

     <style>
        

       
    </style>

    <div class="daily">
        <h1>Daily Expenses Application</h1>
       
    </div>

    <form action="/page2" method="POST">
        <div class="section">
            <h1>Toiletries <input name="nameEntered" type="text" id="input" class="expense"></input> <input type="date">
               
            </h1>
            <h1>Communication <input name="nameEntered" type="text" id="input" class="expense"></input> <input type="date">
               
            </h1>
            <h1>Travel <input name="nameEntered" type="text" id="input" class="expense"></input> <input type="date">
              
            </h1>
            <h1>Food <input name="nameEntered" type="text" id="input" class="expense"></input> <input type="date">
               
            </h1>
        </div>
         <div class="button">

            <button class="btns" on type="submit" name="button">Calculate</button>
           
        </div>

    </form> 
</body>
</html>

</body>