<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tracker.css">
    <title>Document</title>
</head>

<body>
     <style>
        .section {
          background-color: white);
        }

        body {
             background-color: rgb(114, 110, 95));
        }
    </style>

    <div class="daily">
        <h1>Daily Expenses Application</h1>

    </div>

    <form action="/display/{{name}}" method="POST">
        
          
        <div class="button">
             <select name="catagory">
            <option name='catagory' value="food">Food</option>
            <option name='catagory' value="toiletries">Toiletries</option>
            <option name='catagory' value="travel">Travel</option>
            <option name='catagory' value="communication">Communication</option>
        </select>
        <input type="number" value="" name="amount" step=".01" placeholder="">
        <input type="date" name="date" value="" placeholder=""><br><br>
        <div class="section">

            <a href="/page3"></a> <button class="btns" on type="submit" name="button">Submit</button>

        </div>

    </form>
</body>

</html>

</body>